<nav class="navgnome">
  <div class="navgnome__container">
    <h1>
      Brastlewark!
    </h1>
    <p>{{itemName}}</p>
    <div class="search">
      <p>Search a Gnome by age</p>
      <input type="text" [(ngModel)]= "filteredName">
      <p>{{filteredName}}hola</p>
    </div>
  </div>
</nav>


<div class = "listcontainer" >
  <div
    *ngFor="let contact of data | filter:filteredName:'age'; let i = index"
    class="containergnome">
    <div class="containergnome__item">
        <figure class="containergnome__shape">
          <img src={{contact.thumbnail}} class="containergnome__img">
          <figcaption class="containergnome__caption"> + details</figcaption>
        </figure>
    </div>
    <div>
      <p [routerLink]="[i]" class ="containergnome__font" >{{contact.name}}</p>
    </div>
  </div>
</div>

<!-- *ngFor="let contact of data | filter: filteredName : 'age'; let i = index" -->
<!-- <p class ="containergnome__font" routerLinkActive="active" (click)= "onShowDetail($event)">{{contact.name}}</p> -->
